<html>
  <head>
    <title>Chorock Coin</title>
  </head>
  <body>
  <h1><a href={{ url_for('.index')}}>Coin explorer</a></h1>
  <hr>
  <p>your address: {{ ip_address }} - {{ address }}</p>
  <div>
    <p>blocks</p>
    <ul>
      {% for block in blocks %}
        {% if block == target_block_hash %}
          <li><b><a href={{ url_for('.index', hash_id=block) }}>{{ block }}</a></b></li>
        {% else %}
          <li><a href={{ url_for('.index', hash_id=block) }}>{{ block }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div>
    <p>transactions</p>
    <ul>
      {% for tx in transactions %}
      <li> {{ tx }} </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <p><a href={{ url_for('.mine') }}>mine</p>
    <p><a href={{ url_for('.submit_transaction') }}>new transaction</p></a>
    <p><a href={{ url_for('.connect_nodes') }}>connect nodes</a></p>
  </div>
  <div>
    <p>nodes</p>
    <ul>
      {% for node in nodes %}
          <li>{{ node.ip_address }} : {{ node.address }}</li>
      {% endfor %}
    </ul>
  </div>
  </body>
</html> 