<html>
  <head>
    <title>Coin</title>
  </head>
  <body>
  <h1>Coin explorer</h1>
  <hr>
  <div>
    <p>blocks</p>
    <ul>
      {% for block in blocks %}
        {% if block == block_hash %}
          <li><b><a href={{ url_for('index_block', block_hash=block) }}>{{ block }}</a></b></li>
        {% else %}
          <li><a href={{ url_for('index_block', block_hash=block) }}>{{ block }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div>
    <p>transactions</p>
    <ul>
      {% for tx in transactions %}
      <li> {{ tx }} </li>
      {% endfor %}
    </ul>
  </div>
  </body>
</html> 