@font-face {
    font-family: "Starlight";
    src: url("./starlight/Starlight.ttf")
}

.center {
    text-align: center;
    border: 3px solid green;
  }

.logo-txt {
    font-family: "Starlight";
    font-size: 100px;
    color:darkgreen;
}
